body{ 
  background-color:lightgrey;
  color : #ffffff;
  font-size:62.5%;
  text-align: center;
}

#header{
  width:auto;
  height:60px;
  background-color:#1e93c1;
  font-size:30px;
  text-align: center;
}

#contents{
  width:700px;
  min-height:300px;
  color : dodgerblue;
  margin-right: auto;
  margin-left : auto;
  margin-top:1.5%; 
  margin-bottom: 1.5%;
  background-color :#ffffff;
  font-size: 2.5em;
  line-height: 1.5em;
  border-radius: 15px;
  text-align: center;
}

#footer{
  width: auto;
  height:180px;
  background-color :lightseagreen;
  color : #ffffff;
  font-size:1.4em;
  text-align: center;
}